.bordered {
    border: 1px solid black;
}

#dataset-group label {
    display: inline;
    margin-left: 1em;
    margin-right: 1em;
}

#dataset-ours label {
    display: inline;
    margin-left: 0;
    margin-right: 0;
}

#dataset-hypernerf_ds label {
    display: inline;
    margin-left: 0;
    margin-right: 0;
}

#dataset-hypernerf_ds_proj label {
    display: inline;
    margin-left: 0;
    margin-right: 0;
}